@value colors: "./colors.css";
@value walmart-yellow, slogan-light-blue, slogan-border-grey from colors;

@value fonts: "./fonts.css";
@value banner-font-size from fonts;

/* Banner */
#banner .logoText {
  margin-top: 23px;
  padding: 0;
  padding-bottom: 38px;
}

#banner .logoText img {
  width: 100%;
  max-height: 156px;
}

#banner .slogan {
  border-top: 1px solid slogan-border-grey;
  padding-top: 1.1em;
  margin-top: -.6em;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

#banner .slogan img {
  display: inline;
  width: 150px;
  margin-right: 10px;
}

#banner .slogan h1 {
  display: inline;
  font-size: banner-font-size;
  text-align: center;
  color: walmart-yellow;
}

#banner .headerInfo {
  font-size: 1.2em;
  font-weight: 600;
  margin-top: .9em;
  padding-left: 0;
  padding-bottom: 1.5em;
  padding-right: 0;
  text-align: center;
  color: slogan-light-blue;
}

#banner blockquote{
  display:block;
  padding: 15px 20px 15px 45px;
  margin: 0 0 20px;
  position: relative;

  /*Font*/
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.2;
  text-align: justify;
}

#banner blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/

  /*Font*/
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;
  color: slogan-border-grey;

  /*Positioning*/
  position: absolute;
  left: 10px;
  top:5px;
}

#banner blockquote::after{
  /*Reset to make sure*/
  content: "";
}

#banner blockquote em{
  font-style: italic;
}
