@value colors: "./colors.css";
@value body-background, white from colors;

/* Container */
.containerFluid {
  padding: 0px;
}

.nightSky {
  padding: 0;
  margin: 0;
  background-color: body-background;
}

/* 2nd Container */
.inverseColors {
    color: white;
}

.inverseColors a, p, h1, h2, h3, h4 {
  color: white;
}

.headerContent {
  background-position: center 27px;
  background-image: url("../images/sky.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
