@value colors: "./colors.css";
@value title-orange, slogan-light-blue, black from colors;

#releaseAndFact img {
  width: 100%;
  border: 1px solid black;
  border-radius: 15px;
}

#releaseAndFact .contentBorder {
  flex-basis: 30%;
  max-width: 30%;

  border: 2px solid slogan-light-blue;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#releaseAndFact .contentBorder.leftOffset {
  margin-left: 6.5%;
}

#releaseAndFact .contentBorder h2 {
 text-align: center;
 color: title-orange;
}
