@value colors: "./colors.css";
@value walmart-yellow, walmart-blue, black, walmart-blue, walmart-yellow, white from colors;

@value fonts: "./fonts.css";
@value title-font-size, subtitle-font-size, text-font-size from fonts;

#releaseAndFact .contentBorder {
  flex-basis: 32%;
  max-width: 32%;

  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#releaseAndFact .contentBorder h2 {
 text-align: center;
 font-size: title-font-size;
}

#releaseAndFact .contentBorder h4 {
 font-size: subtitle-font-size;
}

#releaseAndFact .contentBorder p {
 font-size: text-font-size;
}

#releaseAndFact .contentBorder img {
  width: 100%;
  border-radius: 15px;
  margin-top: 10px;
}

/* Release Only */
#releaseAndFact .contentBorder.release {
  border: 2px solid walmart-blue;
  background-color: walmart-blue;
}

/* Fun Facts Only */
#releaseAndFact .contentBorder.fact {
  border: 2px solid walmart-blue;
  margin-left: 2.5%;
  background-color: white;
}

#releaseAndFact .contentBorder.fact .rank img {
  width: 30px;
  display: inline;
}

#releaseAndFact .contentBorder.fact .rank p {
 font-size: text-font-size;
 display: inline-block;
 vertical-align: top;
 margin-left: 10px;
}

#releaseAndFact .contentBorder.fact h2,
#releaseAndFact .contentBorder.fact h4,
#releaseAndFact .contentBorder.fact p {
  color: black;
}
