/* Sections */
#thoughts .thoughtsBorder {
  border: 2px solid #41a9f4;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Text Color */
#thoughts .thoughtsBorder h2 {
  text-align: center;
  color: rgb(255, 193, 32);
}

#thoughts .thoughtsBorder.feedback {
  background-color: #fff;
}

#thoughts .thoughtsBorder.feedback p, .thoughtsBorder.feedback h4 {
  color: #99998c;
}

#thoughts .thoughtsBorder.feedback p {
  text-align: left;
}

#thoughts .thoughtsBorder.feedback h4 {
  text-align: center;
}

#thoughts .thoughtsBorder.feedback h2 {
  color: #0074b8;
}
