@value colors: "./colors.css";
@value walmart-yellow, walmart-blue, white, black, feedback-text-grey from colors;

/* Sections */
#thoughts .thoughtsBorder {
  border: 2px solid walmart-yellow;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 100px;
}

#thoughts .thoughtsBorder h2,
#thoughts .thoughtsBorder img {
  display: inline;
  vertical-align: middle;
}

#thoughts .thoughtsBorder img {
  width: 100px;
  margin: 10px;
}

/* Text Alignment & Color */
#thoughts .thoughtsBorder.feedback {
  background-color: walmart-yellow;
}

#thoughts .thoughtsBorder.feedback p,
#thoughts .thoughtsBorder.feedback h4,
#thoughts .thoughtsBorder.feedback h2 {
  color: black;
}

#thoughts .thoughtsBorder.feedback p,
#thoughts .thoughtsBorder.feedback h4.contentTitle {
  text-align: left;
}
